@font-face {
    font-family: 'HS-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    text-align: center;
    font-family: 'HS-Regular';
    font-weight: lighter;
    margin:10px;
    height: 100%;
    width: 100%;
}
/* 유형 결과 */
.p80{
    border: solid blue;
    height:  80%;
}
.p80 img {
    height: 80%;
    width: auto;
}
strong {
    font-size: 25px;
}
/* 해당 유형 설명 */
.p20{
    border: solid red;
    height: 20%;
    /* 위아래 가운데 정렬하기 위해 부모에 넣어주는것 */
    display: table;
    text-align: center;
}
#explain{
    display:table-cell;
    vertical-align:middle;
}
/* 추천, 비추천 여행지 */
.good_and_bad {
    border: solid green;
    height: 50%;
}
.good_and_bad article{
    display: inline-block;
    width: 40%;
    height: 90%;
    border: solid gray;
}
.good_and_bad img{
    height: 65%;
    width: auto;
}
footer {
    height: 5%;
    border: solid red;
}